{% extends 'base.html' %}
{% block decode_qr_code_block %}<li class="active">{% endblock %}

{% block body_block %}
	
	<div class="container-fluid">
		<div class="row">
				<div class="form-group">
 				    <div class="col-sm-offset-2 col-sm-8 col-md-8 col-xs-8">
					    <h3>解析二维码图片</h3>
						<br>
						<input type="file" name="uploadfile" id="uploadfile" accept="image/*"/>
						<br>
 				    </div>

 				    <div class="form-group">
 				        <div class="col-sm-offset-2 col-sm-3">
 				            <div class="image_preview"></div>
 				            <br>
 				        </div>
 				    </div>
					
 				    <div class="col-sm-offset-2 col-sm-8 col-md-8 col-xs-8">
 				        <textarea class="form-control" rows="5" id="qr_content" name="qr_content"></textarea>
						<br>
						<br>
 				    </div>

 				    <div class="col-sm-offset-2 col-sm-8 col-md-8 col-xs-8">
						<input type="submit" class="btn btn-primary" value="解码" id="decode" name="decode">
					</div>
				</div>
		</div>
	</div>


<script type="text/javascript">
    $(function () {
        //建立单击事件
        $('#decode').on('click', function () {	
			$("#qr_content").text("");
            let files = $('#uploadfile')[0].files;

            //上传文件
            let fd = new FormData();
            fd.append('uploadfile', files[0]);

            //发起jquery  ajax请求
            $.ajax({
                method: 'post',
                url:'/decode_qr_code/',
                data: fd,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.res == 10){
                        alert('上传文件不能为空');
                    }
                    else if (data.res == 11){
                        alert('文件后缀名不正确');
                    }
                    else if (data.res == 20){
                        alert('无法解码此文件');
                    }
                    else if (data.res == 1){
						$("#qr_content").text(data.content);
                        alert('解析成功');
                    }
                    else {
					    location.href = '/decode_qr_code/';
                        alert('二维码解析失败');
                    }
                }
            })
        })
    })



// 预览上传 预览上传 预览上传
$("#uploadfile").on("change", function(e) {
    var file = e.target.files[0]; //获取图片资源

    // 只选择图片文件
    if (!file.type.match('image.*')) {
        return false;
    }

    var reader = new FileReader();
    reader.readAsDataURL(file); // 读取文件

    // 渲染文件
    reader.onload = function(arg) {

        let imgxxx = new Image()
        imgxxx.src = arg.target.result
        p_display_width = 300
        p_display_height = parseInt(p_display_width * imgxxx.height / imgxxx.width)
        p_display_width = p_display_width.toString()
        p_display_height = p_display_height.toString()
        
        var img = '<img width="' + p_display_width + '" height="' + p_display_height + '" src="' + arg.target.result + '" alt="preview"/>';
        $(".image_preview").empty().append(img);
    }
});

</script>


{% endblock %}

